@keyframes rotate-and-wait {
  0%, 25% { 
    transform: rotate(0deg); 
  }
  50% { 
    transform: rotate(360deg); 
  }
  50%, 75% { 
    transform: rotate(360deg); 
  }
  100% { 
    transform: rotate(0deg); 
  }
  }
  
  .rotate {
    animation: rotate-and-wait 20s linear infinite;
  }
  
  @keyframes normalRotation {
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
  }
 .normalRotation {
    animation: normalRotation 10s linear infinite;
 }

 @keyframes cancelRotate {
  0%, 25% { 
    transform: rotate(0deg); 
  }
  50% { 
    transform: rotate(-360deg); 
  }
  50%, 75% { 
    transform: rotate(-360deg); 
  }
  100% { 
    transform: rotate(0deg); 
  }
  }
 .cancelRotate {
    animation: cancelRotate 20s linear infinite;
 }
   
  @keyframes moveToBottom {
    0%, 100% {
      transform: translateY(5px);
    }
    50% {
      transform: translateY(0px); 
    }
  }
  
  .moveToBottom {
    animation: moveToBottom 5s infinite;
  }

  @keyframes moveToRight {
    0%, 100% {
      transform: translatex(5px);
    }
    50% {
      transform: translatex(0px); 
    }
  }
  
  
  .moveToRight {
    animation: moveToRight 2s infinite;
  }

  @keyframes moveToLeft {
    0%, 100% {
      transform: translatex(-5px);
    }
    50% {
      transform: translatex(0px); 
    }
  }
  
  .moveToLeft {
    animation: moveToLeft 2s infinite;
  }

  @keyframes moveToTop {
    0%, 100% {
      transform: translateY(-5px);
    }
    50% {
      transform: translateY(0px); 
    }
  }
  
  .moveToTop {
    animation: moveToTop 2s infinite;
  }


 

 @keyframes translateToRight {
    0%, 100% {
      transform: translatex(30px);
    }
    50% {
      transform: translatex(0px); 
    }
  }
  
  
  .translateToRight {
    animation: translateToRight 2s infinite;
  }

  @keyframes translateToLeft {
    0%, 100% {
      transform: translatex(-30px);
    }
    50% {
      transform: translatex(0px); 
    }
  }
  
  .translateToLeft {
    animation: translateToLeft 2s infinite;
  }

  @keyframes translateToTop {
    0%, 100% {
      transform: translateY(-30px);
    }
    50% {
      transform: translateY(0px); 
    }
  }
  
  .translateToTop {
    animation: translateToTop 2s infinite;
  }

  @keyframes translateToBottom {
    0%, 100% {
      transform: translateY(30px);
    }
    50% {
      transform: translateY(0px); 
    }
  }
  
  .translateToBottom {
    animation: translateToBottom 2s infinite;
  }

  .clip-path-polygon {
    /* Estilos base de tu span */
    transition: clip-path 5s ease-in-out; /* Ajusta el tiempo según necesites */
  }