
  
  .left-triangle {
    width: 100vw;
    height: 100vh;
    background: rgba(80, 22, 83, 1);
    clip-path: polygon(50% 50%, 0 100%, 100% 100%);
    transition: clip-path 0.5s ease-in-out;
  }
  
  .left-triangle.active {
    animation: animate-left-triangle 0.5s forwards, width-animation 0.5s forwards;
  }
  @keyframes animate-left-triangle {
    0% {
      clip-path: polygon(50% 50%, 0 100%, 100% 100%);
    }
    100% {
      clip-path: polygon(100% 0, 0 50%, 100% 100%);
    }
  }


  .right-triangle {
    width: 100vw;
    height: 100vh;
    background: rgba(80, 22, 83, 1);
    clip-path: polygon(0% 0%, 100% 0%, 50% 50%);
    transition: clip-path 0.5s ease-in-out;
  }
  
  .right-triangle.active {
    animation: animate-right-triangle 0.5s forwards, width-animation 0.5s forwards;
  }
  
  @keyframes animate-right-triangle {
    0% {
      clip-path: polygon(0% 0%, 100% 0%, 50% 50%);
    }
    100% {
      clip-path: polygon(0 0, 100% 51%, 0 100%);
    }
  }

  .mid-left-triangle {
    width: 100vw;
    height: 100vh;
    background: rgb(77, 41, 101);
    clip-path: polygon(0 0, 50% 50%, 0 100%);
    transition: clip-path 0.5s ease-in-out;
  }
  
  .mid-left-triangle.active {
    animation: animate-mid-left-triangle 0.5s forwards, mid-left-width-animation 0.5s forwards;
  }
  @keyframes animate-mid-left-triangle {
    0% {
      clip-path: polygon(0 0, 50% 50%, 0 100%);
    }
    100% {
      clip-path: polygon(100% 50%, 0 50%, 50% 100%);
    }
  }


  .mid-right-triangle {
    width: 100vw;
    height: 100vh;
    background: rgb(77, 41, 101);
    clip-path: polygon(100% 0, 50% 50%, 100% 100%);
    transition: clip-path 0.5s ease-in-out;
  }
  
  .mid-right-triangle.active {
    animation: animate-mid-right-triangle 0.5s forwards, mid-right-width-animation 0.5s forwards;
  }
  
  @keyframes animate-mid-right-triangle {
    0% {
        clip-path: polygon(100% 0, 50% 50%, 100% 100%);
      }
      100% {
        clip-path: polygon(100% 50%, 0 50%, 50% 0);
      }
  }
  @keyframes width-animation {
    0% {
      width: 100vw;
    }
    100% {
     
      width: 20vw;
    }
  }
  @keyframes mid-right-width-animation {
    0% {
      width: 100vw;
      top: 0%;
      right: 50%;
    }
    100% {
      right: 40%;
      width: 40vw;
      height: 75vh;
      top: 13%;
      right: 30%;
    }
  }
  @keyframes mid-left-width-animation {
    0% {
      width: 100vw;
      top: 0%;
    }
    100% {
      left: 40%;
      width: 40vw;
      height: 75vh;
      left: 30%;
      top: 13%;
    }
  }

  .mid-triangle-box.active {
    animation: rotate-box 0.4s linear 0.4s forwards; 
  }
  @keyframes rotate-box {
    from{
        opacity: 80%;
        transform: rotate(0deg);
    }
    to{
        transform:  rotate(360deg);
        opacity: 0%;
    }
  }